<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DisGo - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/disgo.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  {{> navbar}}
  <h3 align=center>About DisGo</h3>
  <p class = "container"> &nbsp;&nbsp;&nbsp;&nbsp;The OAE operates a free Disability Golf Cart service, DisGo, for all members of the Stanford community. It is open to anyone with a disability or medical condition that makes it difficult to travel about campus. DisGo currently maintains two 4-seat golf carts and one wheelchair accessible cart. <br><br>

  &nbsp;&nbsp;&nbsp;&nbsp;DisGo Cart rides are available starting the second week of Fall, Winter, and Spring academic quarters. DisGo is available all days of the week, 8:15 a.m. to 5:10 p.m. <br><br>

  &nbsp;&nbsp;&nbsp;&nbsp;Online requests must be made at least one business day in advance before 3PM.  We will try our best to accommodate the time that you have requested; however, we reserve the right to modify your time.</p><br><br><br>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</body>
</html>