<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DisGo - Help</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/disgo.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  {{> navbar}}
  <div class = "container">
  <h3 align=center>HELP!</h3>
  <h4>Submitting a Ride Request</h4>
    <p class = "container">To submit a ride request, you must be logged in as a rider. Then click the large blue button labeled Request a Ride and fill out the form. Our carts are not permited to drive everywhere on campus, so if you can't find your location in the drop down menu, choose the closest point!</p>
  <h4>Editing a Ride Request</h4>
    <p class = "container">To edit a ride request, log in as a rider.  Then click the blue edit button at the bottom of each ride and fill out the appropriate form. </p>
  <h4>Viewing the Schedule</h4>
    <p class = "container">Your home screen should also serve as a comprehensive schedule.  If you don't see any rides you may not have any scheduled. </p>
  <h4>It still doesn't work...</h4>
    <p class = "container">This app is still under construction.  Sorry.</p><br><br><br>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</div>
</body>
</html>